@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to First Bank</h1>
    <h3 class="display-7">Your Dashboard</h3>
</div>

<div class="alert-success text-center">
    <h5>@TempData["validMsg"]</h5>
</div>
